*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

button{
    font-size: 20px;
    font-weight: bold;
    padding: 8px 10px;
    border-radius: 10px;
    border: 1px solid black;
    box-shadow: 2px 2px 10px black;
    color: #F57F20;
    background-color: black;
}

button:hover{
    background-color: rgba(5, 5, 5, 0.781);
}

.container{
    max-width: 1400px;
    margin: auto;
}

.container-fluid{
    padding: 0;
}

header{
    background-color:#F57F20;
}

header img{
    width: 200px;
    height: 185px;
    margin: 0;
    padding: 25px 30px;
}

header .container{
    display: flex;
    flex-direction: row;
    align-items: center;
}   

header nav{
    display: flex;
    flex-direction: row;
    text-align: center;
    padding-bottom: 25px;
}

header ul{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: auto;
    margin-right: auto;
}

header li{
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 30px;
    padding: 10px 50px;
    font-size: 30px;
}

header a{
    text-decoration: none;
    font-weight: bold;
    color: black;
}

header a:hover{
    color: blue;
}

header img{
    display: flex;
    align-items: center;
}



#banner{
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    flex-direction: column;
    height: 300px;
    font-size: 50px;
    color: white;
    background-image: url("../imagenes/restaurant.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    margin-top: 50px;  
    padding: 0;

}

#somos-xolima .container{
    text-align: center;
    padding: 200px 12px;
}

#somos-xolima h2{
    font-size: 40px;
    font-weight: bold;
    padding-bottom: 20px;
}

#conocenos{
    background-color: rgb(158, 157, 157);
    color: black;
    text-align: center;
}

#conocenos .container{
    padding: 100px, 0px;
}

#conocenos p{
    color: white;
}

#conocenos .opcion{
    background-position: center center;
    background-size: cover;
    padding: 50px 0px;
    margin: 10px 0px;
    color: rgb(251, 255, 0);
    border-radius: 15px;
    font-weight: bold;
}

#conocenos h3{
    font-size: 50px;
}

#conocenos button{
    font-size: 30px;
}

.opcion:first-child{
    background-image: url("../imagenes/arrachera.jpg");
}

.opcion:nth-child(2){
    background-image: url("../imagenes/bebidas.jpg");
}

footer{
    background-color: black;
}

footer p{
    margin: 10px;
    padding: 0px;
    color: white;
}

footer .container{
    height: 100px;
    margin-top: 10px;
    margin-bottom: 0px;

}

h1{
    text-align: center;
}

/********************************* galeria *****************************************/
.container_galeria{
    display:grid;
    grid-template-columns: repeat(6,1fr);
    grid-auto-rows:100px 300px;
    grid-gap:10px;
    grid-auto-flow: dense;
}

.gallery-item{
    width:100%;
    height:100%;
    position:relative;
}

.gallery-item .image{
    width:100%;
    height:100%;
    overflow:hidden;
}

.gallery-item .image img{
    width:100%;
    height:100%;
    object-fit: cover;
    object-position:50% 50%;
    cursor:pointer;
    transition:.5s ease-in-out;
}
.gallery-item:hover .image img{
    transform:scale(1.5);
}

.gallery-item .text{
    opacity:0;
    position:absolute;
    top:50%;
    left:50%;
    transform:translate(-50%,-50%);
    color:#fff;
    font-size:25px;
    pointer-events:none;
    z-index:4;
    transition: .3s ease-in-out;
    -webkit-backdrop-filter: blur(5px) saturate(1.8);
    backdrop-filter: blur(5px) saturate(1.8);
}

.gallery-item:hover .text{
    opacity:1;
    animation: move-down .3s linear;
    padding:1em;
    width:100%;
}

.text{
    text-align: center;
}

.w-1{
    grid-column: span 1;
}
.w-2{
    grid-column: span 2;
}
.w-3{
    grid-column: span 3;
}
.w-4{
    grid-column: span 4;
}


.h-1{
    grid-row: span 1;
}
.h-2{
    grid-row: span 2;
}
.h-3{
    grid-row: span 3;
}
.h-4{
    grid-row: span 4;
}


@media screen and (max-width:500px){
    .container{
        grid-template-columns: repeat(1,1fr);
    }
    .w-1,.w-2,.w-3,.w-4{
        grid-column:span 1;
    }
}


@keyframes move-down{

    0%{
        top:10%;
    }
    50%{
        top:35%;
    }
    100%{
        top:50%;
    }
}


/*************************************Bebidas y comida****************************/
.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 1.5em;
}

.menu {
    font-family: "Inter", sans-serif;
    font-size: 14px;
    text-align: justify;
}

.menu-grupo-titulo {
    margin: 0;
    padding-bottom: 1em;
    border-bottom: 2px solid #ccc;
}

.menu-grupo {
    display: grid;
    grid-template-columns: 1fr;
    gap: 1.5em;
    padding: 1.5em 0;
}

.menu-item {
    display: flex;
}

.menu-item-imagen {
    width: 80px;
    height: 80px;
    flex-shrink: 0;
    object-fit: cover;
    margin-right: 1.5em;
}

.menu-item-texto {
    flex-grow: 1;
}

.menu-item-titulo {
    display: flex;
    justify-content: space-between;
    margin: 0;
}

.menu-item-nombre {
    margin-right: 1.5em;
}

.menu-item-precio {
    margin-right: .1em;
}

.menu-item-descripcion {
    line-height: 1.6;
}

@media screen and (min-width: 992px) {
    .menu {
    font-size: 16px;
    }

    .menu-grupo {
    grid-template-columns: repeat(2, 1fr);
    }

    .menu-item-imagen {
    width: 125px;
    height: 125px;
    }
}
/************************************* ubicacion ****************************/
.video-container{
    position: relative;
    overflow: hidden;
    width: 100%;
    padding-top: 56.25%; 
}

.iframe-responsive{
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    width: 100%;
    height: 100%;
}

.t-ubicacion{
    text-align: center;
    font-size: 20px;
}